body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(135deg, #ffe7f7, #d9e8ff);
    margin: 0;
}


h1 {
    animation: fadeIn 1s ease-in-out;
    margin-top: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 220px;
    height: auto;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.gallery img:hover {
    transform: scale(1.12);
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

/* Lightbox */
#lightbox {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    animation: zoomIn 0.4s ease;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
